[Unit]
Description=OVERLAYROOT FLUSH TO DISK

[Service]
Type=oneshot
ExecStop=/usr/bin/flush_overlay
RemainAfterExit=yes
TimeoutSec=infinity
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=basic.target
